

*{
    
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
  
 
font-family: 'Source Sans Pro', sans-serif;

}

.homeBackgroundLogo{
    background: url('../assets/hazardlogo.png');
    background-repeat: no-repeat;
    background-size:34%;
    background-position: center;
    background-position-x: center;
    z-index: -3434;
    height:100vh;
    width:100%;
    left:0;
    right:0;
    position: fixed;
}

.backgroundImage{
    top:0;
    left:0;
    background: url("../assets/homeBackgroundImg.jpg") 0px -150px;
    background-size: cover;
    position: relative;
    height:85vh;
    width: 100%;

}

.backgroundImgTextContainer{
    position: relative;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.imgTextContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
}
.imgTextContainer>p1{
    margin: .2em;
    color: rgb(255, 239, 19);
    font-family: 'Itim', cursive;
}
.imgTextContainer>p4,.imgTextContainer>p3{
    font-size: .42em;
    color: rgba(255,255,255,.9);
    font-family: 'Itim', cursive;
}
@media only screen and (max-width: 650px){
    .imgTextContainer>p{
        font-size: 1em;
    }
    .imgTextContainer>p1{
        font-size: .8em;
    }
    .backgroundImage{
        background: url('../assets/homebackgroundimg2.png') -140px;
    }
    .homeBackgroundLogo{
        background-size: 60%;
    }
}