
*{
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');
    font-family: 'Source Sans Pro', sans-serif;
}
.navContainer{
    top:0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.042));
    position: absolute;
    height:105px;
    width:100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all .25s ease-in-out;
    z-index: 213434;
}

.activeBackground{
    background: white;
    height:90px;
    position: fixed;
}
img{
    margin-left: 2em;
}
img:hover{
    cursor: pointer;
   
}
ul>div{
    display:flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    height:100%;
    width:100%;
    justify-content: center;
   
    
}
ul{
    display:flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    height:100%;
    width:100%;
    justify-content: space-between;
    margin-left: 2em;
  
 
}



li {
    list-style: none;
    
}
ul>div>li>a , a{
    text-decoration: none;
    color:black;
    padding:1.3rem;
    margin:1rem;
    font-size: 1.25em;
    border-bottom:2px solid rgba(0, 0, 0, 0);
    transition: all .08s ease-in-out;
}
.activeText>div>li>a,.activeText>li>a{
   
    color: white;
}
.unactiveText>div>li>a:hover,.unactiveText>li>a:hover{
    color:rgb(255, 255, 255);
    border-bottom: 3px solid rgb(219, 205, 0);
}
ul>div>li>a:hover{
    color:rgb(129, 129, 129);
    border-bottom: 3px solid rgb(219, 205, 0);
}

.contactBtn{
    border-radius: 2em;
    border:2px solid rgb(219, 205, 0);
    padding: .55em 1em;
    margin-right: 2em;
    transition: .07s all ease-in-out;
    
   
}
ul>li{

    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contactBtn:hover{
    background: rgb(219, 205, 0);
}

.openBtn{
    display:none;
}

@media only screen and (max-width: 900px){
    li>a{
        font-size: .9rem;
        margin: 0em;
    }
}
@media only screen and (max-width: 650px){
    .navContainer{
        align-items: center;
        position: fixed;
        height:80px;
        background: white;
    
    }
    .openBtn{
        display: inline;
        position: relative;
        height:80px;
        width: 80px;
        border:none;
        margin-right: 2em;
        z-index: 34343;
        background: rgba(112, 105, 105, 0);
        
    }
    
  ul{
    position: absolute;
    background: rgba(255, 255, 255,.99);
    height:100vh;
    width: 50vw;
    justify-content: space-evenly;
    flex-direction: column;
    right:50%;
    top:-20px;
    padding: 0;
    transition: all .5s ease-in-out;

  }
  ul>div{
    position: relative;
    
    width:100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
  }
  div>li{
    position: relative;
    width: 100%;
    height:85px;
  }
  ul>li{
    height:200px;
  }
  ul>div>li>a:hover{
   
    border-bottom: none;
    background: rgba(255, 255, 255,.99);
    
}
ul>div>li>a{
    color:rgb(0, 0, 0);
    border-bottom:2px solid rgb(0, 0, 0);
    width:100%;
    
}
.activeText>div>li>a,.activeText>li>a{
   
    color: black;
}
.contactBtn{
   border:2px solid black;
}
.contactBtn:hover{
    background: rgb(211, 211, 211);
}
  
}